@import "theme-variables";

header{
  background: $brand-primary;

  a{
    color: white;
  }
}

#menu-lang ul li{
  border-color: white;
  font-weight: 300;

  .active{
    font-weight: 400;
  }

  input[type=submit]{
    color: white;
  }
}