@import "theme-variables";

header{
  background: $brand-primary;

  a{
    color: white;
  }

  > .container{
    background: url('../assets/logo-generalitat-valenciana.png') no-repeat 98% 48px transparent;
  }
}

#menu-lang ul li{
  border-color: white;
  font-weight: 300;

  .active{
    font-weight: 400;
  }

  input[type=submit]{
    color: white;
  }
}

.payments-content #query-panel .panel{
  color: white;
  background: $brand-primary;
}

@media (max-width:$grid-float-breakpoint) {
  header > .container {
    background-position: center 160px;
  }
  .main-entity-logo a{
    margin-bottom: 108px;
  }
}
