{% extends 'base.html' %}
{% block content %}
<h1 class="page-title">{{ _('Lo que tú aportas') }}</h1>
<p class="intro-text">{{ _('Te mostramos de forma aproximada') }}<a href="#footnote-receipt" title="{{ _('Nota sobre el cálculo realizado') }}"></a> {{ _('cómo se distribuye el dinero que aportas con tus impuestos') }}.</p>

<form class="form-user-incomings" action="#" method="get">

  <div class="user-incomings-custom">

    <h4 style="text-align: center">{{ _('Impuestos') }}</h4>
    <label for="select-area">{{ _('Zona de residencia') }}</label>
    <select id="select-area">
      <option value="0" type="text" selected="selected">{{ _('Area 6') }}</option>
      <option value="1" type="text">{{ _('Avenidas') }}</option>
      <option value="2" type="text">{{ _('Barrios periféricos') }}</option>
      <option value="3" type="text">{{ _('Casco') }}</option>
      <option value="4" type="text">{{ _('Polígono III') }}</option>
      <option value="5" type="text">{{ _('San José') }}</option>
    </select>
    <select id="select-house"></select>
    <span class="select-info">{{ _('IBI') }}: <span id="select-house-tax"></span></span>
    
    <hr/>
    <label for="select-vehicle">{{ _('Vehículo') }}</label>
    <select id="select-vehicle">
      <option value="0" type="text" selected="selected">{{ _('Ninguno') }}</option>
      <option value="1" type="text">{{ _('Coche pequeño') }}</option>
      <option value="2" type="text">{{ _('Coche mediano/grande') }}</option>
    </select>
    <span class="select-info">{{ _('Impuesto a vehículos motorizados') }}: <span id="select-vehicle-tax"></span></span>

    <hr/>
    <label for="select-extra-vehicle">{{ _('Vehículo adicional') }}</label>
    <select id="select-extra-vehicle">
      <option value="0" type="text" selected="selected">{{ _('Ninguno') }}</option>
      <option value="1" type="text">{{ _('Coche pequeño') }}</option>
      <option value="2" type="text">{{ _('Coche mediano/grande') }}</option>
    </select>
    <span class="select-info">{{ _('Impuesto a vehículos motorizados') }}: <span id="select-extra-vehicle-tax"></span></span>

    <hr/>
    <h4 style="text-align: center; margin-top: 40px">{{ _('Tasas') }}</h4>

    <label for="select-parking">{{ _('¿Tienes un vado?') }}</label>
    <select id="select-parking">
      <option value="0" type="text" selected="selected">{{ _('No') }}</option>
      <option value="1" type="text">{{ _('Sí') }}</option>
    </select>
    <span class="select-info">{{ _('Tasa') }}: <span id="select-parking-tax"></span></span>
  </div>
</form>

<p id="tax-amount">{{ _('Contribuyes con un total de <b id="tax-amount-paid"></b> a los presupuestos del Ayuntamiento de Rubí')|safe }}.</p>

<div class="box box-tax">
  <div class="box-title">
    <h2 class="tcenter">{{ latest_budget.year }}</h2>
  </div>
  <div class="box-content">
    <div class="table-grid" id="myGrid"></div>
    {% include 'shared/social_sharing.html' %}
  </div>
</div>

{% include 'shared/policy_paths.html' %}
<script>
  $(function () {
    var totalTaxPaid = 0;

    // Display amount as expense per capita
    function calculatePersonalTax(row, cell, value, columnDef, dataContext) {
      if (value == null) return null;
      var percentage = value / columnValueExtractor(dataContext.root, columnDef);
      return formatDecimal(percentage * totalTaxPaid) + " €";
    }

    function formatTaxAmount(value) {
      return numeral(value).format( '0,0.00', Math.floor ) + " €";
    }

    // TODO!!! Add area / type
    function getHouseTaxPaid() {
      var val = $("#select-house").val();
      return val ? parseFloat(val) : 0;
    }
    function getVehicleTaxPaid() {
      return [0, 64.45, 136.05][$("#select-vehicle").val()];
    }
    function getExtraVehicleTaxPaid() {
      return [0, 64.45, 136.05][$("#select-extra-vehicle").val()];
    }
    function getParkingTaxPaid() {
      return [0, 57.00][$("#select-parking").val()];
    }

    function redrawGrid() {
    
      var houseTaxPaid = getHouseTaxPaid();
      $('#select-house-tax').text(formatTaxAmount(houseTaxPaid));

      var vehicleTaxPaid = getVehicleTaxPaid();
      $('#select-vehicle-tax').text(formatTaxAmount(vehicleTaxPaid));

      var extraVehicleTaxPaid = getExtraVehicleTaxPaid();
      $('#select-extra-vehicle-tax').text(formatTaxAmount(extraVehicleTaxPaid));

      var parkingTaxPaid = getParkingTaxPaid();
      $('#select-parking-tax').text(formatTaxAmount(parkingTaxPaid));

      totalTaxPaid = houseTaxPaid + vehicleTaxPaid + extraVehicleTaxPaid + parkingTaxPaid;
      $("#tax-amount-paid").text(formatTaxAmount(totalTaxPaid));
      // XXX: window.location.hash = 'ingresos='+getIncomeInEuros();

      createBudgetGrid("#myGrid", gridData, [
        {field: "label", name: '{{ _("Política") }}', formatter: policyLinkFormatter, width: 300},
        {
          field: 'expense',
          name: '{{ _("Gasto") }}',
          formatter: calculatePersonalTax, 
          headerCssClass: 'slick-header-right',
          getter: getBreakdownValue, 
          column: '{{ latest_budget.name() }}',
          year: breakdown.years['{{ latest_budget.name() }}']
        }
      ]);
    }

    function setStatus(house, vehicle, extraVehicle, garbage, parking) {
      $('#select-house').val(house);
      $('#select-vehicle').val(vehicle);
      $('#select-extra-vehicle').val(extraVehicle);
      $('#select-parking').val(parking);
    }
    $("#scenario-1").click(function() { setStatus(0, 1, 2, 0, 0); redrawGrid(); return false; });
    $("#scenario-2").click(function() { setStatus(1, 1, 2, 1, 1); redrawGrid(); return false; });
    $("#scenario-3").click(function() { setStatus(2, 0, 0, 2, 0); redrawGrid(); return false; });
    $("#scenario-4").click(function() { setStatus(3, 1, 2, 3, 2); redrawGrid(); return false; });

    var breakdown = {{ breakdown.to_json( labels=descriptions['functional'] )|safe }};
    var gridData = breakdownToTable(breakdown);

    // var state = $.deparam.fragment();
    // if ( state['ingresos'] ) {
    //   $('#ingresos').val(state['ingresos']);
    // }

    var data_tax_home = {
      "0": [
        {
          "type":'{{ _("Unifamiliar nueva") }}',
          "surface":642,
          "debt":2657.8
        }
      ],
      "1": [
        {
          "type":'{{ _("Piso seminuevo") }}',
          "surface":147,
          "debt":669.91
        },
        {
          "type":'{{ _("Piso viejo") }}',
          "surface":122,
          "debt":412.05
        },
        {
          "type":'{{ _("Unifamiliar nueva") }}',
          "surface":245,
          "debt":1009.81
        },
        {
          "type":'{{ _("Unifamiliar seminueva") }}',
          "surface":431,
          "debt":1909.89
        },
        {
          "type":'{{ _("Unifamiliar vieja") }}',
          "surface":174,
          "debt":477.25
        }    
      ],
      "2": [
        {
          "type":'{{ _("Piso nuevo") }}',
          "surface":153,
          "debt":549.6
        },
        {
          "type":'{{ _("Piso viejo") }}',
          "surface":77,
          "debt":202.89
        },
        {
          "type":'{{ _("Piso viejo") }}',
          "surface":91,
          "debt":233.31
        },
        {
          "type":'{{ _("Piso viejo") }}',
          "surface":147,
          "debt":453.22
        },
        {
          "type":'{{ _("Unifamiliar nueva") }}',
          "surface":250,
          "debt":1167.17
        },
        {
          "type":'{{ _("Unifamiliar nueva") }}',
          "surface":380,
          "debt":1380.53
        },
        {
          "type":'{{ _("Unifamiliar vieja") }}',
          "surface":92,
          "debt":220.54
        },
        {
          "type":'{{ _("Unifamiliar vieja") }}',
          "surface":148,
          "debt":453.97
        },
        {
          "type":'{{ _("Unifamiliar vieja") }}',
          "surface":248,
          "debt":654.59
        },
      ],
      "3": [
        {
          "type":'{{ _("Piso nuevo") }}',
          "surface":112,
          "debt":443.93
        },
        {
          "type":'{{ _("Piso nuevo") }}',
          "surface":158,
          "debt":627.65
        },
        {
          "type":'{{ _("Piso viejo") }}',
          "surface":94,
          "debt":260.97
        },
        {
          "type":'{{ _("Unifamiliar nueva") }}',
          "surface":210,
          "debt":891.42
        },
        {
          "type":'{{ _("Unifamiliar nueva") }}',
          "surface":438,
          "debt":1591.6
        },
        {
          "type":'{{ _("Unifamiliar vieja") }}',
          "surface":152,
          "debt":303.44
        },
        {
          "type":'{{ _("Unifamiliar vieja") }}',
          "surface":164,
          "debt":401.53
        }
      ],
      "4": [
        {
          "type":'{{ _("Piso nuevo") }}',
          "surface":200,
          "debt":825.97
        },
        {
          "type":'{{ _("Unifamiliar nueva") }}',
          "surface":500,
          "debt":2994.99
        }
      ],
      "5": [
        {
          "type":'{{ _("Unifamiliar nueva") }}',
          "surface":193,
          "debt":742.85
        },
        {
          "type":'{{ _("Unifamiliar nueva") }}',
          "surface":448,
          "debt":2702.73
        },
        {
          "type":'{{ _("Unifamiliar vieja") }}',
          "surface":77,
          "debt":663.67
        },
        {
          "type": '{{ _("Unifamiliar vieja") }}',
          "surface":363,
          "debt":1389.31
        },
      ]
    };

    $("#select-area").change(function(){
      var $select = $('#select-house').empty();
      var data = data_tax_home[ $(this).val() ];
      data.forEach(function (d, i) {
        $select.append($('<option>', { 
          value: d.debt,
          text : d.type+' de '+d.surface+' m²'
        }));
      });
      redrawGrid();
    });

    $("select:not(#select-area)").change(redrawGrid);
    $("#select-area").trigger('change');
  })
</script>
{% endblock %}